<h1> Spell Check </h1>

<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                            </div>
                            <div class="form-group">
                                <label for="email">
                                Email Address</<lab></lab>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                Message</label>
                                <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button onclick=alert("Message Sent") type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
                <legend><span class="glyphicon glyphicon-globe"></span> Thefakeweed</legend>
                <address>
                <strong>Beirut, Lebanon</strong><br>
                
                <abbr title="Phone">
                    P:</abbr>
                (44) 7451-222621<br>
                
                P:</abbr>
                (961) 76-461392
            </address>
                <address>
                <strong>Mostafa Masri</strong><br>
                <strong><a href="https://github.com/thefakeweed">My Github</a></strong><br>
                    <strong><a href="https://facebook.com/i27.o.o.1">Facebook</a></strong><br>
                <div class="btn-twitter"><strong><a href="https://twitter.com/thefakeweed">Twitter</a></strong><br></div>

                            <a href="mailto:#">sql.leb@gmail.com</a>
            </address>
            </form>
        </div>
    </div>
</div>
