body {
    background-color: #D3D3D3;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

legend {
    color: black;
}

nav {
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 45px;
    font-family: 'Barrio', cursive;
    color: #000;
    text-align: center;
    font-weight: 100;
}

.row {
    padding-top: 40px;
}

img {
    height: 330px;
    width: 290px;
}

textarea {
    margin-top: 10px;
    width: 400px;
}

textarea.form-control {
    font-size: 33px;
}

img {
    width: 301px;
    height: 3
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}

p {
    font-size: 33px;
    font-family: 'Roboto Condensed', sans-serif;

}

.jumbotron {
    color: #FFF;
    border-radius: 0px;
}

.jumbotron-sm {
    padding-top: 24px;
    opacity: 0.1;
    padding-bottom: 24px;
}

.jumbotron small {
    color: #FFF;
}

.h1 small {
    font-size: 24px;
}


.btn-primary {
        margin-top: -40px;

}