body {
    background-color: #D3D3D3;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

legend {
    color: black;
}

nav {
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 45px;
    font-family: 'Barrio', cursive;
    color: #000;
    text-align: center;
    font-weight: 100;
}

.row {
    padding-top: 40px;
}

img {
    height: 330px;
    width: 290px;
}

textarea {
    margin-top: 10px;
    width: 400px;
}

textarea.form-control {
    font-size: 33px;
}

.img1 {
    width: 350px;
    height: 350px;
}

h2 {
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 44px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
        padding-bottom: 19px;
    

}

p {
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
        padding-bottom: 19px;

}

.jumbotron {
    color: #FFF;
    border-radius: 0px;
}

.jumbotron-sm {
    padding-top: 24px;
    opacity: 0.1;
    padding-bottom: 24px;
}

.jumbotron small {
    color: #FFF;
}

.h1 small {
    font-size: 24px;
}




.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
    margin-top: 11px;
}


.fa-envelope {
    background: purple;
    color: white;
    margin-top: 11px;
}


/*loading stuff*/


/* Center the loader */

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

 Add animation to "page content" 
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
