<h1> Spell Check </h1>



<img class="center-block img-circle img-responsive" src="https://www.toonpool.com/user/589/files/spell_check_1449335.jpg" alt="">

<div class="row">
    <div class="col-lg-4 col-lg-offset-4">

        <input type="text" class="form-control" ng-model="name" placeholder="Input your text">

        <div class="form-group">
            <textarea readonly class="form-control" rows="4" cols="50">{{data.suggestion}}</textarea>
        </div>



        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">

                    <button class="btn btn-primary" ng-click="go()" class="btn btn-primary" type="button">Check</button>

                </div>
            </div>
        </div>
    </div>
